<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${activePage == 'about'} ? 'active'">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item" th:classappend="${activePage == 'contact'} ? 'active'">
                <a class="nav-link" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showPopup()">Xem Ngày</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal Structure -->
<div id="xemNgayModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">XemNgay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Currently in development</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showPopup() {
        $('#xemNgayModal').modal('show');
    }
</script>
</body>
</html>