/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Định dạng chung */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0; /* Nền xám nhẹ */
    padding: 30px;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}

h1 {
    font-size: 48px;
    color: #343a40;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: #6c757d;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 40px;
}

.navigation {
    margin-bottom: 40px;
}

.nav-arrow {
    font-size: 24px;
    color: #007bff;
    text-decoration: none;
    margin: 0 20px;
}

.nav-arrow:hover {
    text-decoration: underline;
}

/* Định table */
.table-bordered {
    border: 2px solid black; /* Đường viền bên ngoài bảng màu đen */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black; /* Đường viền giữa các ô trong bảng màu đen */
}

.day-box {
    padding: 10px;
    border-radius: 5px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343a40;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.table-responsive {
    overflow-x: auto;
}




