/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Định dạng chung */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0; /* Nền xám nhẹ */
    padding: 30px;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}

h1 {
    font-size: 48px;
    color: #343a40;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: #6c757d;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 40px;
}

.navigation {
    margin-bottom: 40px;
}

.nav-arrow {
    font-size: 24px;
    color: #007bff;
    text-decoration: none;
    margin: 0 20px;
}

.nav-arrow:hover {
    text-decoration: underline;
}

/* Tooltip */
/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #17a2b8;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    line-height: 1.4;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Định dạng bảng */
.table-container {
    overflow-x: auto;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Nền trắng cho bảng */
}

.calendar-table th, .calendar-table td {
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
}

.calendar-table th {
    background-color: #5a9bd3; /* Màu xanh nhạt hơn */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.calendar-table td {
    background-color: #f8f9fa; /* Màu xám nhạt cho ô bảng */
    transition: background-color 0.3s ease;
}

.day-box {
    padding: 15px;
    border-radius: 5px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343a40;
    font-weight: bold;
    font-size: 16px;
}



.calendar-table td:hover .day-box {
    background-color: rgba(0, 0, 0, 0.05);
}
