<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Contact</title>
</head>
<body class="d-flex flex-column h-100">
<section layout:fragment="content">

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Contact Us</h1>
            <p>This is the Contact page. More content will be added here later.</p>
        </div>
    </div>
</main>

</section>
</body>
</html>