<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/xemNgayFavicon.ico}"/>

</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navigation :: navigation}"></div>



<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Contact Us</h1>
            <p>This is the Contact page. More content will be added here later.</p>
        </div>
    </div>
</main>



<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>